@import '../../../../assets/variables';


.select {
  appearance: none;
  background-image: url('../../../../assets/Expand_down.svg');
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0 24px;
  height: 68px;
  display: block;
  width: 100%;
}

