/* You can add global styles to this file, and also import other style files */


:host {
  --button-text-color: #4036A9;
  --inputs-text-color: #111729;
  --placeholder-text-color: #CDD5E0;
  --inputs-bg-color: #F8FAFC;
  --button-bg-color: #FFFFFF;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('./assets/bg-image.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #FFFFFF;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-rendering: optimizeLegibility;
}
